In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [ ]:
data.describe()

# Предобработка

In [ ]:
answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

# Change separators in the column 'release_date' from '/' to '-' and in the columns 
#  'cast', 'director', 'genres', 'production_companies' from '|' to ','
for column in ['release_date', 'cast', 'director', 'genres', 'production_companies']:
    if column == 'release_date':
        data[column] = data[column].agg(lambda x: x.replace('/', '-'))
    else: 
        data[column] = data[column].agg(lambda name: name.replace('|', ','))

# Create and calculate 'profit' column in dataframe
#data['profit'] = data['revenue'] - data['budget']
data['profit'] = data.revenue.sub(data.budget)

# Create counters and dictionaries to get unique names of actors, directors, genres and production companies from dataframe
cast_counter = Counter()
direct_counter = Counter()
genres_counter = Counter() 
companies_counter = Counter()
actors_dict = {}
direct_dict = {}
genres_dict = {}
companies_dict = {}
list_ = [
    ['cast', cast_counter, actors_dict], ['director', direct_counter, direct_dict], 
    ['genres', genres_counter, genres_dict], ['production_companies', companies_counter, companies_dict]
    ]    

for value in list_:    
    for names in data[value[0]]:         # Take name of column[value[0] and string from column data[value[0]]
        lst = names.split(',')           
        for name in lst:
            value[1][name] = 0           
    value[2] = dict(value[1])
                                         # Transform counters to the dictionaries 
actors_dict = list_[0][2].copy()         # Dictionary of unique names of actors   
direct_dict = list_[1][2].copy()         # ... of unique names of directors    
genres_dict = list_[2][2].copy()         # ... genres
companies_dict = list_[3][2].copy()      # ... production companies

#data
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'  #  + 
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# тут пишем ваш код для решения данного вопроса:
data.iloc[data['budget'].sort_values(ascending=False).index[0]]

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения
answer_1 = data[data['budget'] == data['budget'].max()]
answer_1.iloc[0]['original_title'] + ' ('+ answer_1.iloc[0]['imdb_id'] +')'

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'  #  +

In [ ]:
data[data['runtime'] == data['runtime'].max()]  #   select the longest movie

ВАРИАНТ 2

In [ ]:
data.iloc[data['runtime'].sort_values(ascending = False).index[0]]

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = 'Winnie the Pooh (tt1449283)'  #  +

In [ ]:
data[['imdb_id','original_title','runtime']][data['runtime'] == data['runtime'].min()] #  select the shortest movie

ВАРИАНТ 2

In [ ]:
data[data['runtime'] == data['runtime'].min()]

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = '109.658'  #  +

In [ ]:
data['runtime'].mean()     # the averge duration of all the movies

ВАРИАНТ 2

In [ ]:
data['runtime'].describe()

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = '107'  #  +

In [ ]:
data['runtime'].median()   # the median value of the movies duration

ВАРИАНТ 2

In [ ]:
data['runtime'].describe() #  50% row

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = 'Avatar (tt0499549)'  #  +

In [ ]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.iloc[data['profit'].sort_values(ascending=False).index[0]]  # the most profitable movie

ВАРИАНТ 2

In [ ]:
data[['original_title', 'imdb_id', 'profit']][data['profit'] == data['profit'].max()]

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = 'The Lone Ranger (tt1210819)'  #   +

In [ ]:
data.iloc[data['profit'].sort_values(ascending=True).index[0]]     # the most unprofitable movie

ВАРИАНТ 2

In [ ]:
data[['original_title', 'imdb_id', 'profit']][data['profit'] == data['profit'].min()]

ВАРИАНТ 3

In [ ]:
data.iloc[(pd.Series(data['revenue']) - pd.Series(data['budget'])).sort_values(ascending=True).index[0]]

ВАРИАНТ 4

In [ ]:
series1, series2 = pd.Series(data['revenue']), pd.Series(data['budget'])
data.iloc[(series1 - series2).sort_values(ascending=True).index[0]]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = '1478'   #  +

In [ ]:
data[data['revenue'] > data['budget']]['imdb_id'].nunique() # How many movies had revenue more than budget

ВАРИАНТ 2

In [ ]:
data[data['revenue'] > data['budget']]['imdb_id'].describe()

ВАРИАНТ 3

In [ ]:
data[data['revenue'] > data['budget']]['imdb_id'].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = 'The Dark Knight (tt0468569)'  #  +

In [ ]:
# the movie with the biggest revenue in 2008
data[data['release_year'] == 2008].groupby(['original_title'])['revenue'].max().sort_values(ascending=False)[0:5]

ВАРИАНТ 2

In [ ]:
data.iloc[data[data['release_year'] == 2008]['revenue'].sort_values(ascending=False).index[0]]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = 'The Lone Ranger 1245 (tt1210819)'   #   +

In [ ]:
  # the movie with the biggest loss from 2012 to 2014
data[(data['release_year'] >= 2012) & \
     (data['release_year'] <= 2014)] \
    [['original_title', 'profit', 'release_year']].sort_values('profit', ascending=True).head()

ВАРИАНТ 2

In [ ]:
data[(data['release_year'] >= 2012) & \
     (data['release_year'] <= 2014)]  \
    .groupby(['original_title'])[['profit', 'release_year']].max().sort_values('profit', ascending=True).head()

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Drama'   #   +

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
collect11 = Counter()               # define name for Counter
for genres in data.genres:          # take the genres list of movie
    genre_list = genres.split(',')  # separate string with list of genres
    for genre in genre_list:        # take single genre in the list of genres
        collect11[genre] += 1       # count quantity of every genre
pd.Series(collect11).sort_values(ascending=False)   # display sorted list of genres

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = 'Drama'   #   +

In [ ]:
collect12 = Counter()                           # define name for Counter
profit_q12 = data[data['profit'] > 0]['genres'] # select dataset with profit more than zero
for genres in profit_q12.values:                # take the genres list of movie  
    genre_lst = genres.split(',')               # separate string with list of genres
    for genre in genre_lst:                     # take single genre in the list of genres
        collect12[genre] +=1                    # count quantity of each genre
collect12.most_common()                         # display sorted list of genres

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = 'Peter Jackson'   #   +

In [ ]:
directors_dict_q13 = direct_dict.copy()                   # make a copy of the dicionary with unique names of directors
indx = 0                                                     # index in the dataframe 
for dir_name in data.director:                               # list of the directos 
    lst = dir_name.split(',')                                # separate list of the directos 
    for name in lst:
        directors_dict_q13[name] += data.revenue[indx]       # count a Sum of revenue values for every director
    indx +=1    
pd.Series(directors_dict_q13).sort_values(ascending=False).head() # display sorted list of directors

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = 'Robert Rodriguez'   #   +

In [ ]:
# Director who made action movies most af all
data14 = data[data.genres.str.contains('Action', na=False)]  # select a part of dataframe by genre  
directors_dict_q14 = direct_dict.copy()                     # make a copy of dictionary with unique names of directors  
for names in data14.director: 
    lst = names.split(',')    
    for name in lst:          
        directors_dict_q14[name] +=1                             # count quantity of action movies for every director 
pd.Series(directors_dict_q14).sort_values(ascending=False).head()# # make a series from the dictionary

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = 'Chris Hemsworth'   #   +

In [ ]:
profit15 = data.query('release_year == 2012')                    # select a part of dataframe by year of release
actors_dict_q15 = actors_dict.copy()                             # make a copy of dictionary with unique names of actors
indx = 0
for actors in profit15.cast:                                     # take a list of actors
    lst = actors.split(',')
    for actor in lst:
        actors_dict_q15[actor] += profit15.iloc[indx]['revenue'] # count a total sum of revenue for every actor in movies  
    indx +=1         
pd.Series(actors_dict_q15).sort_values(ascending=False).head() # make a series from the dictionary and display it

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = 'Matt Damon'    #   +

In [ ]:
profit16 = data.query('budget > budget.mean()')      # select data where budget more than average budget
actors_dict_q16 = actors_dict.copy()                 # make a copy of dictionary with unique names of actors
for actors in profit16.cast:
    lst = actors.split(',')                          # separate string with actors into the list
    for actor in lst:
        actors_dict_q16[actor] += 1                  # count quantity of movies for every actor
dat16 = pd.DataFrame(columns=['Movies'], index=pd.Series(actors_dict_q16).index, \
                     data=pd.Series(actors_dict_q16).values)
dat16.sort_values('Movies', ascending=False)[0:4]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = 'Action'   #   +

In [ ]:
data17 = data[data.cast.str.contains('Nicolas Cage', na=False)] # select the movies by Nicolas Cage in the cast column
                                                                  # create a new dataframe with genres in index
dat = pd.DataFrame(columns=['Nicolas Cage'], index=list(genres_dict), data=0) 
for genres in data17.genres:
    lst = genres.split(',')                                       # list of genres in each movie
    for genre in lst:
        dat.loc[genre, 'Nicolas Cage'] += 1                       # count each movie with Nicolas Cage
dat.sort_values('Nicolas Cage', ascending=False).head(4)

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'   #   +

In [ ]:
dat18 = data[data.production_companies.str.contains('Paramount Pictures', \
                                                     na=False)][['original_title', 'imdb_id', 'profit']]
dat18[['original_title','profit', 'imdb_id']].sort_values('profit', ascending=True).head()

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '2015'   #  +

In [ ]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

ВАРИАНТ 2

In [ ]:
pivot = data.pivot_table(index='release_year', columns='original_title', values='revenue', aggfunc='sum', margins=True)
pivot['All'].sort_values(ascending=False)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '2014'   #  +

In [ ]:
dat20 = data[data.production_companies.str.contains('Warner Bros', na=False)] # select data by "Warner Bros" companie
dat20.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False) # count total sum and display it

ВАРИАНТ 2

In [ ]:
data20 = data[data.production_companies.str.contains('Warner Bros')].pivot_table(index='release_year',columns='original_title',values='revenue', aggfunc='sum', margins=True)
data20.sort_values('All', ascending=False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = '9'   #  +

In [ ]:
c = Counter()  
for date in data.release_date:  
    month = date.split('-')[0]   # take the moth of release 
    c[month] += 1                # count quantity of movies released in each month
c.most_common()                  # diplay sorted output

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22'] = '450'   #  +

In [ ]:
#  How many movies were released in summer 
count = Counter()
for date in data.release_date:
    month = date.split('-')[0]                     # take the moth of release 
    if int(month) in [6,7,8]:                      # check date of release
        count['Quantity_of_movies_in_summer'] += 1 # count quantity of movies in summer
count

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23'] = 'Peter Jackson'   #  +

In [ ]:
dat23 = data[data.release_date.str.match('1-|2-|12-', na=False)][['original_title','director','release_date']]       
data23 = pd.DataFrame(columns=['Quantity_of_movies_in_winter'], index=list(direct_dict), data=0)
for direct in dat23.director:                                                 # list of directors     
    name_list = direct.split(',')                                             
    for name in name_list:                                                    # take single director's name  
        data23.loc[name, 'Quantity_of_movies_in_winter'] +=1                  # quantity of movies 
data23.sort_values(by='Quantity_of_movies_in_winter', ascending=False).head()# display calculated output

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = 'Four By Two Productions'   #  +

In [ ]:
dat24 = pd.DataFrame(columns=['quantity_of_movies', \
                              'sum_length_of_title', 'mean_length_of_title'], index=list(companies_dict), data=0)
indx = 0
for companies in data.production_companies:                       
    companie = companies.split(',')
    length_of_title = len(data.loc[indx, 'original_title'])       # length of movie title
    for name in companie:                                         # single name of production companie 
        dat24.loc[name, 'quantity_of_movies'] += 1                # counter of movies
        dat24.loc[name, 'sum_length_of_title'] += length_of_title # take total length of all the overviews
    indx += 1     
dat24['mean_length_of_title'] = dat24['sum_length_of_title'] / dat24['quantity_of_movies']# Calculate mean length      
dat24.sort_values('mean_length_of_title', ascending=False).head()

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = 'Midnight Picture Show'   #  +

In [ ]:
data25 = pd.DataFrame(data=0, index=list(companies_dict), \
                      columns=['quantity_of_movies','overview_word_count', 'overview_mean_length'])
indx = 0                                                    # index for taking values from overview column
for comp_name in data.production_companies:                 # a list of companies 
    lst_comp_name = comp_name.split(',')
    word_cnt = data.overview[indx].count(' ') + 1           # take quantity of words in the overviews
    for name in lst_comp_name:                              # single name of production companie
        data25.loc[name, 'quantity_of_movies'] += 1         # counter of movies    
        data25.loc[name, 'overview_word_count'] += word_cnt # total words quantity in all movies
    indx += 1
                                                            # calculate mean length of overview  
data25['overview_mean_length'] = data25['overview_word_count'] / data25['quantity_of_movies']
data25[['quantity_of_movies','overview_mean_length']].sort_values('overview_mean_length', ascending=False)[0:4]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'   #  +

In [ ]:
#  a list of movies in the 1 % top by the user's votes
data[data['vote_average'] > data['vote_average'].quantile(0.99)] \
[['original_title','vote_average']].sort_values('vote_average', ascending=False)[0:15]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint  8'   #  +

In [ ]:
dict_actors = {}                                    # Dictionary for the unique pairs of actors
for actors in data.cast:                            
    lst = sorted(actors.split(','), reverse = True) # Make a sorted list of the actors in each movie
    ln = len(lst)                                   # Actor's names quantity in the movie
                                                    # Make a list of the unique actors pairs
    lst_actors = [y+' & '+x for x in lst[0:ln] for y in lst[1:ln] if (x!=y) & (x>y)]
    for pair in lst_actors:                         # Take actors pair from the list
        if pair not in dict_actors:            
            dict_actors[pair] = 1                   # If pair not in the dictionar, assigne number 1  
        else:
            dict_actors[pair] += 1                  # If pair in the dictionary, add to the total sum
dat27 = pd.DataFrame(columns=['Movies'], data=pd.Series(dict_actors).values, index=pd.Series(dict_actors).index)
dat27.sort_values('Movies', ascending=False).head(10)

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)